<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

    <main>
        <div>
            <div class="jumbotron">
            <h2>Connect with me</h3>
            <h3 class="contact-links"><%= link_to 'GitHub', 'https://github.com/danielhardej', target: '_blank' %></h3>
            <h3><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/daniel-hardej-7351689a/', target: '_blank' %></h3>
            </p>
            <%= link_to 'View My Work', portfolio_path, class: "button" %>
            </div>
        </div>
        <br>
            <%= form_with url: contact_path, method: :post, local: true, html: { class: 'contact-form' } do |form| %>
            <div>
                <%= form.label :name %>
                <%= form.text_field :name %>
            </div>
            <div>
                <%= form.label :email %>
                <%= form.email_field :email %>
            </div>
            <div>
                <%= form.label :message %>
                <%= form.text_area :message %>
            </div>
            <div>
                <%= form.submit "Send" %>
            </div>
        <% end %>
    </main>

</body>
</html>
