<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

    <main>
        <div class="jumbotron">
            <h2>Welcome to My Portfolio</h2>
            <p>I do many things, but this is a tagline summarizing what I do.</p>
            <p>Check out my work below.</p>
            <%= link_to 'View My Work', portfolio_path, class: "button" %>
        </div>

        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>Header 1</h3>
                    <p>Some information about me and what I do.</p>
                    <p><%= link_to image_tag('github-mark-white.svg', alt: 'GitHub', width: '50', height: '50', class: "social-icon") %></p>
                    <%= link_to 'Click here!', portfolio_path, class: "column-button" %>
                </div>
                <div class="column">
                    <h3>Header 2</h3>
                    <p>Some information about my skills.</p>
                    <p><%= link_to image_tag('github-mark-white.svg', alt: 'GitHub', width: '50', height: '50', class: "social-icon") %></p>
                    <%= link_to 'Click here!', portfolio_path, class: "column-button" %>
                </div>
                <div class="column">
                    <h3>Header 3</h3>
                    <p>Some information about my work.</p>
                    <p><%= link_to image_tag('github-mark-white.svg', alt: 'GitHub', width: '50', height: '50', class: "social-icon") %></p>
                    <%= link_to 'Click here!', portfolio_path, class: "column-button" %>
                </div>
                <div class="column">
                    <h3>Header 4</h3>
                    <p>Some information about my work.</p>
                    <p><%= link_to image_tag('github-mark-white.svg', alt: 'GitHub', width: '50', height: '50', class: "social-icon") %></p>
                    <%= link_to 'Click here!', portfolio_path, class: "column-button" %>
                </div>
            </div>
        </div>
            
    </main>

</body>
</html>